<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p|%X{customLogEvent}|%X{transactionId}|%X{serviceName}|%m%throwable{separator()}%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="org.springframework" level="ERROR" additivity="false">
    		<AppenderRef ref="Console"/>  
     	</Logger>
    	<Logger name="org.hibernate" level="ERROR" additivity="false">
    	     <AppenderRef ref="Console"/>  
    	</Logger>
    	<Logger name="org.apache" level="ERROR" additivity="false">
    	     <AppenderRef ref="Console"/>  
    	</Logger>
    	
        <Root level="INFO">
            <AppenderRef ref="Console"/>  
        </Root>
        
    </Loggers>
</Configuration>